*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.button-container{
    border:2px solid rgb(150, 127, 127);
    border-radius: 5px;
    width:1000px;
    margin: 300px auto;
    padding: 50px 80px;
}
button{
    height: 80px;
    width:80px;
    padding:5px;
    font-size: 40px;
    margin-right:8px;
}