*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.key-container{
    border:2px solid rgb(150, 127, 127);
    display: flex;
    justify-content: center;
    gap:2em;
    border-radius: 5px;
    width:1200px;
    margin: 300px auto;
    padding: 80px 0;
}
.key{
    height: 90px;
    width:80px;
    padding:5px;
    font-size: 40px;
    margin-right:8px;
    border:3px solid rgb(44, 44, 44);
    text-align: center;
    transition: all ease-in 0.08s;
}
.key:hover{
    transform: scale(1.1);
    border:5px solid rgb( 243, 156, 18 );
}
.sound{
    font-size: 11px;
    display: block;
}